.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.front-card {
  color: black;
}

.frontcard {
  position: relative;
  background: url("../images/card-logo.svg") top 4rem left 4rem no-repeat, url("../images/bg-card-front.png") center right no-repeat;
  z-index: 2;
  background-size: auto;
  width: 30rem;
  height: 20rem;
  margin-left: 5rem;
}

.backcard {
  position: relative;
  background: url("../images/bg-card-back.png") no-repeat;
  background-size: auto;
  width: 30rem;
  height: 16rem;
  margin-left: 15rem;
}

.cardnumberlabel {
  position: absolute;
  font-size: 2rem;
  margin-top: 10rem;
  margin-left: 4rem;
}

.namelabel {
  position: absolute;
  margin-top: 15rem;
  margin-left: 3.5rem;
  font-size: 1.1rem;
}

.explabel {
  position: absolute;
  margin-top: 15rem;
  margin-left: 25rem;
  font-size: 1.1rem;
}

.cvclabel {
  position: absolute;
  margin-top: 7rem;
  margin-left: 22rem;
  color: white;
  font-size: 1.1rem;

}


.right {
  color: black;

}

.form {
  display: flex;
  flex-direction: column;
}


.name, .cardnumber
{
  max-width: 25rem;
}

.nameinvalid, .cardnumberinvalid {
  max-width: 25rem;
  border-color: hsl(0, 100%, 66%);
}

.expMonthinvalid {
  border-color: hsl(0, 100%, 66%);
}

.expYearinvalid {
  border-color: hsl(0, 100%, 66%);
}

.expcontainer {
  display: flex;
  flex-direction: row;
}

.monthyearcontainer {
  display: flex;
  flex-direction: row;
}

.monthyearcontainer > input {
  max-width: 5rem;
}

.monthyearcontainer > input:nth-child(2) {
  margin-left: 1rem;
  margin-right: 1rem;
}

.cvc > input {
  max-width: 13rem;
}

.exp, .cvc {
  display: flex;
  flex-direction: column;
}

.cvcInvalid {
  display: flex;
  flex-direction: column;
  border-color:hsl(0, 100%, 66%);
}

.submit {
  max-width: 25rem;
  padding: 1rem;
  border-style: solid;
  border-color: hsl(278, 68%, 11%);
  background-color: hsl(278, 68%, 11%);
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}

.submit:hover {
  cursor: pointer;
  background-color: hsl(279, 6%, 55%);
  border-color: hsl(279, 6%, 55%)
}

.error {
  color: hsl(0, 100%, 66%);
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.thankyou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20rem;
}

.continue {
  appearance: none;
  margin-top: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: hsl(278, 68%, 11%);
  cursor: pointer;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  min-width: 25rem;

}

.desc {
  color: hsl(279, 6%, 55%);
  margin-top: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.thankyouheader {
  margin-top: 2rem;
}

@media (max-width: 400px) {
  .main {
    display: flex;
    flex-direction: column !important;
    gap: 0rem;
    padding: 0rem;
  }

  .left {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse !important;
    margin: 0rem;
  }

  .right {
    display: flex;
    justify-content: center;
    margin: 0rem;
  }

  .form {
    transform: scale(0.9);
    margin: 0rem;
    margin-top: -2rem;
  }

  .thankyou {
    margin: 0rem;
  }

  .continue {
    min-width: 320px;
  }

  .frontcard {
    transform: scale(0.7);
    margin: 0rem;
  }

  .backcard {
    transform: scale(0.7);
    margin: 0rem;
    margin-bottom: -12rem;
    margin-left: 4rem;
    padding: 0rem;
  }
}
